<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base 2</title>
    <link rel="stylesheet" href="/static/styles2.css">
</head>
<body>
    <div class="container>">
        <div class="nav">
            <div class="logo">
                <h2>PPSKI</h2>
                <div class="navigation">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Members</a></li>
                        <li><a href="#"><span>GET STARTED</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="home">
            <div class="text"></div>
                <h5>ADVANCE STRATEGY</h5>
                <h1>Better Solutions For Your Business</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Duis pulvinar, lectus at accumsan aliquam, arcu dui commodo sem, vitae consectetur eros ex vitae erat.
                </p>
                <button>Get in touch</button>
            <div class="back"></div>
        </div>
    </div>

</body>
</html>