{% extends "base.html" %}

{% block title %}Ganti Password{% endblock %}
{% block logo %}/user-dashboard{% endblock %}
{% block source %}<img src="\static\ppski-logo.png" alt="" style="width:55px;height:55px;">{% endblock %}
{% block content %}
<section id="ganti-password">
    <div class="input-container">
        <div class="password-title" style="margin-left:5.5vw;font-family:Montserrat;font-weight:700;font-size:36px;color:white;padding-top:13px;
        width:40vw;">GANTI PASSWORD</div>
    </div>
    <div class="container-ganti-password">
        <form method="POST">
            <br/>
            <div class="input-container">
                <input
                type="password"
                class="input-edit input-edit-editable"
                id="oldpassword"
                name="oldpassword"
                placeholder="Password Lama"
                />
            </div>

            <div class="input-container">
                <input
                type="password"
                class="input-edit input-edit-editable"
                id="newpassword"
                name="newpassword"
                placeholder="Password Baru"
                />
            </div>
            <div class="input-container">
                <div class="input-container-with-label">
                    <ul>
                            Ketentuan password
                            <li>Berisikan kombinasi huruf dan angka</li>
                            <li>Memiliki panjang 7--12 character</li>
                    </ul>
                    <div class="input-container">
                        <input
                        type="password"
                        class="input-edit input-edit-editable"
                        id="confirmedpassword"
                        name="confirmedpassword"
                        placeholder="Konfirmasi Password"
                        />
                    </div>
                </div>
            </div>
            <div class="input-container">
<!--                <a href="/user-dashboard" type="button" class="btn btn-danger">Batal</a>-->
                <button type="submit" class="save-button-edit" style="background:#F45F5C">Simpan</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}