{% extends "base.html" %}
{% block logo %}/{% endblock %}
{% block title %}Berhasil Mendaftar{% endblock %}
{% block source %}<img src="\static\ppski-logo.png" alt="" style="width:55px;height:55px;">{% endblock %}
{% block content %}
<br/>
<p align="center" style="margin-top:20vw;">
    Terima kasih telah mendaftar ke laman PPSKI Pusat.
    Berita keputusan pendaftaran akan disampaikan melalui email yang Anda daftarkan.
    Bila tidak ditemukan pada laman inbox, silakan mengunjungi bagian spam.
    Terima kasih
</p>
<div align="center">
        <button onclick="location.href='/'" type="button" class="btn btn-danger">Kembali ke Halaman Depan</button>
</div>
{% endblock %}
