.table-search-button {
    position: relative;
    width: 5vw;
    height: 52px;
    left: 2px;

    background: #F45F5C;
    border-radius: 10px;
    border: none;
    font-size: 1vw;
}

.table-container {
    /* Rectangle 28 */

    position: absolute;
    width: 90vw;
    height: 744px;
    left: 5vw;
    margin-top: 40px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    overflow: scroll;

}

.header-container {
    /* Rectangle 14 */
    display: flex;
    flex-direction: row;
    position: relative;
    width: 87vw;
    height: 50px;
    margin-left: 1.5vw;
    background: #DDDDDD;
    border-radius: 5px;


}

.table-rows {
    /* Rectangle 14 */
    display: flex;
    flex-direction: row;
    position: relative;
    width: 87vw;
    height: 50px;
    margin-left: 1.5vw;

    background: #2E68FF;
    border-radius: 5px;
    color: white;
    padding: 0px;

}

tr {
    /* Rectangle 13 */
    width: 1685px;
    height: 45px;

    background: #2E68FF;
    border-radius: 5px;
    border: none;
    margin-bottom: 3px;
}

td {
    border: none;
}

.option-box {
    width: 17vw;                    /* Previously 300px if block implementation is required 85vw*/
    height: 200px;                  /* Previously 200px */
    background-color: white;
    border-radius: 20px;
    margin: auto;
    margin-left: 3.8vw;
    margin-top: 10px;

    padding: 10px 5px 15px 5px;
    box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.25);
    border: none;
    font-size:24px;
    font-weight:bold;
    color:#2E68FF;

    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-x: auto;
    white-space: normal;

    transition: transform .2s;
}

.option-box:hover {
    transform: scale(1.03);
}

.container-permohonan-pendaftaran {
    /* Rectangle 27 */

    position: absolute;
    width: 50vw;
    height: 744px;
    margin-top:5vw;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;

    overflow: scroll;
}

.box-data-display-queue {
    /* Rectangle 13 */

    width: 40vw;
    height: 88px;
    margin-left: 5vw;

    background: #2E68FF;
    border-radius: 5px;

    justify-items: center;
    justify-content: center;
    margin-top: 10px;
}

.container-ganti-password {
    /* Rectangle 26 */

    position: absolute;
    width: 30vw;
    height: 493px;
    left: 37.5vw;
    top: 233px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.review-container {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 20px;
    padding-bottom: 10px;
}

.row-container {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 15px;
    padding-bottom: 10px;
    overflow: hidden;
}

.password-title {
    /* Rectangle 1 */
    width: 324px;
    height: 57px;

    background: none;
    mix-blend-mode: normal;
    border-radius: 10px;

    text-align: center;
    justify-items: center;

}

.edit-title {
    /* Rectangle 1 */
    width: 324px;
    height: 57px;

    background: #2E68FF;
    mix-blend-mode: normal;
    border-radius: 10px;

    text-align: center;
    justify-items: center;

}

.details-button {
    /* Rectangle 1 */

    width: 40%;
    height: 25px;

    color: white;
    background-color: #4FCD91;
    mix-blend-mode: normal;
    border-radius: 50px;

    border: none;
}

.review-button {
    /* Rectangle 1 */

    width: 40%;
    height: 25px;

    background: #black;
    mix-blend-mode: normal;
    border-radius: 50px;

    border: none;
}

.back-button-edit {
    /* Rectangle 1 */
    width: 10vw;
    height: 57px;
    background: #F45F5C;
    mix-blend-mode: normal;
    border-radius: 5px;
    border: none;
    color: white;
    margin-right:5px;
}

.reset-button-edit {
    /* Rectangle 1 */
    width: 10vw;
    height: 57px;
    background: #F45F5C;
    mix-blend-mode: normal;
    border-radius: 5px;
    border: none;
    color: white;
    margin-left:10px;
}

.save-button-edit {
    /* Rectangle 1 */
    width: 10vw;
    height: 57px;
    background: #4FCD91;
    mix-blend-mode: normal;
    border-radius: 5px;
    border: none;
    color: white;
    margin-left:5px;
}

.input-container-with-label {
    /* Rectangle 26 */
    display: flex;
    flex-direction: column;


}
.input-edit {
    /* Rectangle 13 */

    width: 25vw;
    height: 52px;
    margin-right: 25px;

    background: #BDBDBD;
    border-radius: 5px;
    border: none;
    padding-left:10px;
}

.input-edit-editable {
    background: #DDDDDD;
}

.enclosing-box-keluar {
    border-radius: 20px;
    background-color:#F45F5C;
    width: 100px;
}

.website-title {

}

.website-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
}

.button-ganti-password {
    /* Rectangle 1 */

    position: absolute;
    width: 13vw;
    height: 57px;
    left: 25vw;
    top: 389px;

    background: #F45F5C;
    mix-blend-mode: normal;
    border-radius: 10px;
    border: none;

    font-family:Montserrat;
    font-style:normal;
    font-size:18px;
    color:white;

}
.button-edit {
    /* Rectangle 1 */

    position: absolute;
    width: 10vw;
    height: 57px;
    left: 13vw;
    top: 389px;

    background: #4FCD91;
    mix-blend-mode: normal;
    border-radius: 10px;
    border: none;

    font-family:Montserrat;
    font-style:normal;
    font-size: 18px;
    color: white;
}

.masuk-text {
    /* Masuk */

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.container-data-anggota {
    /* Rectangle 26 */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40vw;
    height: 287px;
    top: 199px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 27vw;
    align-items: center;
}

.back-button {
    /* Rectangle 1 */
    width: 125px;
    height: 32px;
    background: #F45F5C;
    mix-blend-mode: normal;
    border-radius: 5px;
    border: none;
    color: white;
    margin-right:5px;
}

.login-container {
    /* Rectangle 26 */
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40vw;
    height: 287px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 27.5vw;

    align-items: center;
}

.login-input {
    /* Rectangle 13 */
    position: relative;
    display: flex;
    width: 30vw;
    height: 52px;
    align: center;
    padding-left:1vw;

    background: #DDDDDD;
    border-radius: 5px;
    border: none;
}

.login-button {
    /* Rectangle 1 */

    position: relative;
    width: 125px;
    height: 52px;
    margin-top: 20px;

    background: #F45F5C;
    mix-blend-mode: normal;
    border-radius: 5px;
    border: none;

    color: white;
}

.input-grey {
    position: relative;
    width: 30vw;
    height: 52px;
    left: 0.1vw;
    top: 15px;
    background-attachment: none;
    text-align: center;

    background: #e0e0e0;
    border-radius: 5px;
    border: none;

}

.red-search-button {
    position: relative;
    width: 5vw;
    height: 52px;
    left: 2px;
    top: 15px;

    background: #F45F5C;
    border-radius: 10px;
    border: none;
    font-size: 1vw;
}

.container-cek-data {
    background-color:white;
    width: 100%;
    justify-content: center;
    height: 1700px;
    border-radius: 20px;
    overflow: scroll;
    padding-bottom: 40px;
    margin-top: 5vh;
    align: center;

}

.custom-input {
    /* Rectangle 22 */
    width: 30vw;
    height: 52px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    padding-left: 1vw;
}

.display-info-box {
    width: 17vw;  /* Previously 300px if block implementation is required 85vw*/
    height: 200px;  /* Previously 200px */
    background: #2E68FF;
    border-radius: 20px;
    margin: auto;
    margin-left: 3.8vw;
    margin-top: 10px;
    /*word-wrap: break-word;*/
    overflow: hidden;
    padding: 10px 5px 15px 5px;
    box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.25);
    border: none;
    font-size:25px;
    font-weight:bold;
    color:white;
}

.display-info-box:hover {
    background-color: #2a4fb0;
    color: white !important;
}

.register-container {
    background: url('register-bg.svg')  no-repeat center center /
    cover;
    position: absolute;
    width: 90vw;
    height: auto;
    left: 5vw;
    border-radius: 20px;
    box-shadow: 5px 5px 20px;
    overflow: auto;
}

.enclosing-box {
    border-radius: 20px;
    background-color:#ffffff;
    width: 100px;
}

/*.enclosing-box:hover {
    box-shadow: inset 150px 150px 0 0 #ffffff;
    border-radius: 50px;
    color: #4b7ef2 !important;
}*/

.custom-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150vh;
  /*padding: 120px;*/
  padding: 3%;
  overflow: hidden;
  /* Scroll Snap */
  scroll-snap-align: center;
}

section#table {
    height: 100vh;
    background: url('mostly-bg.svg') no-repeat center center /
    cover;
    align-items: center;
}

section#laman-admin {
    background: url('laman-admin.svg') no-repeat center center /
    cover;
    height: 100vh;
    align-items: center;
}

section#registration-queue {
    background: url('registration-queue-bg.svg') no-repeat center center /
    cover;
    height: 120vh;
    align-items: center;
}
section#ganti-password {
    background: url('Masuk.svg') no-repeat center center /
    cover;
    height: 100vh;
    align-items: center;
}
section#login {
    background: url('Masuk.svg') no-repeat center center /
    cover;
    height: 100vh;
}

section#data-anggota {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    /* Scroll Snap */
    /*scroll-snap-align: center;*/
    background: url('cek-data-anggota-bg.svg') no-repeat center center;
    background-attachment: none;
}

.custom-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*padding: 120px;*/
    padding: 3%;
    overflow: hidden;
    /* Scroll Snap */
    height: 5vw;
    background-color: #2E68FF;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    justify-content: center;
    color: white;
    bottom: 0;
}

section#cek-data-anggota {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 150vh;
    justify-content: center;
    overflow: hidden;
    /* Scroll Snap */
    /*scroll-snap-align: center;*/
    background: url('register-bg.svg') no-repeat center center /
    cover;
    background-size: cover;
    background-attachment: none;
}

section#landing {
    background:url('header-bg.svg') no-repeat center center /
    cover;
    background-attachment: none;
    justify-content: center;
    height: auto;
    width: 100vw;
    border-radius:20px;

    margin: 30px 0 0 0;
}

.special-card {
    width: 50%;
    margin-left: 6vw;
    margin-top: 75px;
}

section#welcome {
    background-color:white;
    height: 80vh;

    margin: 8vw 0 0 0;
}
section#pendaftaran {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    margin-bottom: 30px;
    margin-right:50px;
    overflow: hidden;
    /* Scroll Snap */
    scroll-snap-align: center;

}

.topnav input[type=text] {
    padding: 7px;
    margin-top: 50px;
    font-size: 30px;
    size: 50px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ffad33;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.user-table {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
      height: 10%;
    }

.user-table td, user-table th {
    border: 1px solid #ddd;
    padding: 5px;
}

.user-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.user-table th {
    padding-top:5px;
    padding-bottom:5px;
    text-align: center;
    background-color: #2f353a;
    color: white;
}

.user-table tr:hover {
    background-color: #ddd;
}

.zoom {
    font-size: 17px;
    transition: transform .2s;
    font-color: red;
    color: red;
}

.zoom:hover {
    font-color: red;
    transform: scale(1.1);
}

.special:hover {
    animation:special 200ms normal;
    text-transform:uppercase;
}

.buttonSpecial {
    background-color: #ff9800;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 1px;
}
.smallest {
    font-size: 6px;
}
.buttonSpecial:hover {
    background-color: #e68a00;
}

.buttonSpecial-search {
    font-size: 13px;
    background-color:#4CAF50;
}

.buttonSpecial-search:hover {
    background-color:#107228;
}

.btn-delete {
    font-size: 10px;
    radius: 10px;
    padding: 5px 10px;
    background-color: #ca0b00;
    border-radius: 1px;
}

.btn-delete:hover {
    background-color:#840400;
}

div .grey {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style the form - display items horizontally, vertically after cutoff point */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {

    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

#grad1 {
    background: rgb(0,210,255);
    background: linear-gradient(90deg, rgba(0,210,255,1) 0%, rgba(58,123,213,1) 90%);
  }
#grad2 {
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
}

#grad3 {
    background-color: #0093E9;
    background-image: linear-gradient(180deg, #0093E9 100%, #80D0C7 100%);
}

#gradpurple {
    background: rgb(66,151,224);
    background: linear-gradient(90deg, rgba(66,151,224,1) 0%, rgba(110,49,124,1) 90%);
}

#grad4 {
    background: rgb(0,0,70);
    background: linear-gradient(90deg, rgba(0,0,70,1) 0%, rgba(28,181,224,1) 90%);
}

.containerBeranda {
    width:100%;
    height:100vh;
    background:url(background.jpeg);
}

.twoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    min-height: 30vh;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 20px;
}

.for-text {
    align-items: left;
}


.white-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    background: rgb(0,0,70);
}

.btn-1 {
    width: auto;
    height: auto;
    padding: 1rem 1.5rem;
    border: none;
    color: white;
    background-color: #F45F5C;
    border-radius: 500px;
    box-shadow: inset 0 0 0 0 #963fa1;
    transition: padding ease-out 0.3s;
    font-size: 2res;
    outline: none;
    margin: 10px;

}

.btn-1:hover {
    padding: 1rem 2.25rem;
}


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
*{
    margin: 0px;
    padding: 0px;
}


.context {
    width: 100%;
    top:50vw;
    margin-left: 4vw;
    margin-top: 4vw;

}

.context h1{
    text-align: left;
    color: #fff;
    
    font-family: "Montserrat", sans-serif;
    font-size: 2.65rem;

}

.context h2{
    text-align: left;
    color: #fff;
    
    font-family: "Montserrat", sans-serif;
    font-size: 2.25rem;
}

.special-card {
/* create a custom class so you
   do not run into specificity issues
   against bootstraps styles
   which tends to work better than using !important
   (future you will thank you later)*/
}

.area{
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height:50vh;


}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.navbar-white {
    color: white;
}

.navbar-brand.brand-margin {
    margin-left: 10vw;
}

@media screen and (max-width: 600px) {
    .input-container {
        flex-direction: column;
        margin: 10px 0 0 0;
    }

    .custom-input {
        margin: 0 0 10px 0;
        width: 80%;
    }
}

@media screen and (max-width: 350px) {
    .context h1 {
        font-size: 2.4rem;
    }

    .context h2 {
        font-size: 2rem;
    }
}